---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('blog');
const allLinks = await getCollection('external');
const pageTitle = "Writings";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Blog Posts</h1>
	<ul>
		{allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />)}
	</ul>
	<h1>Other Writings</h1>
	<ul>
		{allLinks.map((post: any) => <BlogPost url={`${post.data.redirect}`} title={post.data.title} />)}
	</ul>
</BaseLayout>